@media(min-width: 501px) {
  body {
    background-color: #faf8f3;
    font-family: 'Lora', serif;
    line-height: 1.5;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-todasAsFotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    width: 80%;
  }

  .img-principal {
    border-radius: 3rem;
    height: 50rem;
    width: 60rem;
    margin-bottom: 2rem;
  }

  .containerIMG {
    display: flex;
  }

  .img {
    margin-top: 2.5rem;
    width: 22rem;
    height: 25rem;
  }

  .container-botao {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: solid #cfcfcf 0.5px;
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  .botao-compartilhar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    background-color: #ffffff;
    color: #60547e;
    font-weight: 500;
    height: 3rem;
  }

  .compartilhar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
  }

  .img-compartilhar {
    margin-right: 1rem;
  }

  .imagensPrimeiroLote {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
  }

  .imagensSegundoLote {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 2rem;
  }

  .imagens {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
    font-weight: 100;
  }

  h1 {
    font-size: 36px;
    line-height: 1.2;
  }

  h2 {
    font-size: 24px;
    line-height: 1.3;
  }

  h3 {
    font-size: 18px;
    line-height: 1.4;
  }

  h4, h5, h6 {
    font-size: 16px;
    line-height: 1.5;
  }

  .fade-enter {
    opacity: 0;
  }
  
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms;
  }
  
  .fade-leave {
    opacity: 1;
  }
  
  .fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 500ms;
  }
}


@media(max-width: 500px) {
  body {
    background-color: #f4f2ee;
    font-family: 'Lora', serif;
    font-size: 16px;
    line-height: 1.5;
  }

  .container-todasAsFotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  .title {
    display: flex;
    justify-content: center;
  }

  .mensagem-explicacao {
    width: 11rem;
  }
  
  .img-principal {
    margin-left: 1.5vh;
    border-radius: 3vh;
    height: 20rem;
    width: 95%;
  }
  
  .containerIMG {
    display: flex;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99%;
  }

  .img {
    width: 11rem;
    height: 13rem;
  }

  .container-botao {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: solid #cfcfcf 0.5px;
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  .botao-compartilhar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    background-color: #ffffff;
    color: #60547e;
    font-weight: 500;
    height: 2.5rem;
  }

  .compartilhar {
    display: flex;
    align-items: center;
    height: 1rem;
  }

  .img-compartilhar {
    margin-right: 0.5rem;
  }

  .imagensPrimeiroLote {
    margin-top: 3rem;
    margin-right: 1rem;
  }

  .container-botao {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
    font-weight: 100;
  }

  h1 {
    font-size: 36px;
    line-height: 1.2;
  }

  h2 {
    font-size: 24px;
    line-height: 1.3;
  }

  h3 {
    font-size: 18px;
    line-height: 1.4;
  }

  h4, h5, h6 {
    font-size: 16px;
    line-height: 1.5;
  }

  .fade-enter {
    opacity: 0;
  }
  
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms;
  }
  
  .fade-leave {
    opacity: 1;
  }
  
  .fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 500ms;
  }
}

